@use '../abstracts' as *;

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  mask-composite: subtract;
  animation: loader 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: $color-light-blue;
  mask: $loader;

  -webkit-mask-composite: source-out;
  -webkit-mask: $loader;
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}
