@use '../abstracts' as *;

.board-wrapper,
.table-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: hidden;
  padding: 0 16px;
}

.table-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.table {
  padding: 10px 12px;
  border-radius: 4px;
  min-width: 250px;
  background-color: $color-light-white;
  cursor: grab;
  height: min-content;

  &__title {
    font-size: 14px;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__task {
    font-size: 11px;
    background-color: $color-white;

    border-radius: 4px;
    padding: 12px 8px;
    font-weight: 400;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }
}

.task {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 6px;
  min-width: 320px;
  max-width: 600px;
  max-height: 600px;
  width: 100%;

  &__content {
    width: 100%;

    p {
      font-size: 14px;
      margin-top: 4px;
    }

    &__table-name {
      color: $color-dark-gray;
      text-decoration: underline;
    }
  }

  &__title-input {
    width: 100%;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 16px;
  }

  &__audit {
    overflow-y: scroll;
    min-height: 60px;
  }

  &__audit-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }

  &__section {
    display: flex;
    gap: 16px;
  }

  &__description {
    border-radius: 6px;
    background-color: $color-gray;
    padding: 12px;
    margin-top: 8px;
    word-break: break-all;
    width: 100%;
    font-size: 16px;
    border: 0;
  }

  &__action {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h4 {
      font-size: 14px;
    }

    svg {
      height: 20px;
    }
  }
}

.audit {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: 16px 16px;
  column-gap: 8px;
  row-gap: 4px;
  width: fit-content;

  &__date {
    color: $color-dark-gray;
    font-size: 12px;
  }

  &__text {
    font-size: 14px;
  }

  &__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row: span 2;
  }
}

.edit-table {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  min-width: 250px;
  height: min-content;
  background-color: $color-light-white;
  font-size: 14px;
  gap: 12px;

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__close-button {
    border: 0;
    background-color: inherit;
  }

  &__create-button {
    padding: 4px;
  }
}

.edit-table--independent {
  padding: 10px 12px;
}

.table__add-form {
  margin-top: 12px;
}

.modal__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.pick-up-image {
  max-width: 500px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px 90px;
  gap: 16px;

  &__background {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    cursor: pointer;
  }

  &__background_active {
    border: 2px solid rgb(72, 152, 243);
  }
}

.pick-up-image-form {
  display: flex;
  gap: 16px;
}

.pick-up-image-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-title {
  color: white;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba($color: $color-text-secondary, $alpha: 0.2);
}

.board-title--input {
  padding: 4px 8px;
  height: 40px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  width: auto;
  opacity: 0.8;
}

.subtask {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 8px;
}

.subtask__icons {
  display: flex;
  align-items: center;
  min-width: 150px;
  justify-content: flex-end;
}

.subtask--margin {
  margin-bottom: 4px;
}

.subtask__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.subtask__title--completed {
  text-decoration: line-through;
  font-style: italic;
}
