$color-white: rgba(255, 255, 255, 0.8);
$color-light-white: rgba(251, 251, 251, 0.85);
$color-light-blue: #2a73fc;
$color-gray: rgba(226, 226, 226, 0.7);
$color-dark-gray: rgb(124, 124, 124);
$base-color: #1548a6;

$loader: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
