#root {
    background-image: url('../assets/root/mui-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}        
