.login {
  padding: 16px;
  animation: fadeIn 1s;
  color: white;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.edit-table--subtask {
  border-radius: 8px;
  margin-top: 12px;
}