.add-table {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 4px;
  min-width: 250px;
  height: min-content;
  background-color: rgba(251, 251, 251, 0.85);
  font-size: 14px;
  &__plus {
    margin-right: 8px;
    margin-bottom: 2px;
  }
  &:hover {
    background-color: rgba(216, 216, 216, 0.85);
    cursor: pointer;
  }
}

.edit-table {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  border-radius: 4px;
  min-width: 250px;
  height: min-content;
  background-color: rgba(251, 251, 251, 0.85);
  font-size: 14px;
  gap: 12px;
  &__buttons {
    display: flex;
    gap: 8px;
  }
  &__close-button {
    border: 0;
    background-color: inherit;
  }
  &__create-button {
    padding: 4px;
  }
}
