html {
  background-image: url('./assets/root/mui-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
