@font-face {
  font-family: 'SFLight';
  src: url('./assets/fonts/san-francisco/SFProText-Light.ttf')
    format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'SFMedium';
  src: url('./assets/fonts/san-francisco/SFProText-Medium.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SFHeavy';
  src: url('./assets/fonts/san-francisco/SFProText-Heavy.ttf')
    format('truetype');
  font-weight: 600;
}

* {
  font-family: 'SFMedium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

$base-color: #1548a6;

#root .app-theme {
  background-color: $base-color;
}

#root .app-color {
  color: $base-color;
}

html {
  background-image: url('./assets/root/mui-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.app-wrapper {
  padding: 16px;
  gap: 16px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  border-radius: 6px;
}

.outlet-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  flex-grow: 1;
}
