@font-face {
  font-family: 'SFLight';
  src: url('../assets/fonts/san-francisco/SFProText-Light.ttf')
    format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'SFMedium';
  src: url('../assets/fonts/san-francisco/SFProText-Medium.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SFHeavy';
  src: url('../assets/fonts/san-francisco/SFProText-Heavy.ttf')
    format('truetype');
  font-weight: 600;
}
